.backBtn {
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
  }
  .backBtn:hover {
    color: #5f5a5a;
  }
  .input {
    width: 100%;
    padding: 10px 40px 10px 10px; /* 40px bên phải */
    border-radius: 5px;
    border: none;
    margin-bottom: 8px;
    background: #223a5f;
    color: #fff;
    font-size: 15px;
    height: 30px;
    box-sizing: border-box;
  }
  .passwordWrapper {
    position: relative;
    display: flex;
    align-items: center;
  }
  .eyeIcon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #b4bbc2;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    z-index: 1;
    width: 1.5em;         /* Đặt chiều rộng cố định */
    height: 1.5em; 
    display: inline-block; /* Đảm bảo chiếm đúng diện tích */
    text-align: center; 
  }